# OSX stuff
.DS_Store

# Build directories
build/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# CodeLite project files
OACServer.*
OACServer*.mk
OAC_Server.*
OAC_Server*.mk
Debug

# QT project files
*.pro.user
*.config
*.creator
*.files
*.includes
