
a {
  text-decoration: none;
}

body {
  background-color: #e6e6e6;
  color: #456;
  font-family: 'Ek Mukta', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 20px;
}

footer {
  background-color: white;
  border-top: 1px solid #fff;
  clear: both;
  color: #aaa;
  height: 40px;
  font-size: 10px;
  margin-left: 151px;
  padding: 0 1em;
  text-align: right;
  width: 853px;
}

hr {
  clear: both;
  margin: 20px 0;
  border:0;
  border-top:1px solid #eeeeee;
  border-bottom:1px solid #ffffff;
}

pre > code {
    white-space: pre;
    font-family: 'Source Code Pro';
    margin-top: -20px;
    display: block;
}

#brand {
  bottom: 30px;
  right: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 200;
  position: absolute;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

#content {
  background-color: white;
  margin-left: 151px;
  min-height: 500px;
  padding: 20px 50px;
  position: relative;
  text-align: justify;
  width: 773px;
}

#content h1 {
    border-bottom: solid 1px #777;
    color: #777;
    font-weight: 200;
    font-size: 28px;
    padding: 5px;
    text-align: left;
}

#content h2 {
    color: #777;
    font-weight: 300;
    text-align: left;
}

#content h3 {
    color: #777;
    font-weight: 200;
    text-align: left;
}

#markdown-toc {
  background-color: #f0f0f0;
  border: solid 1px #bbb;
  border-radius: 3px;
  box-shadow: 5px 5px 15px #bbb;
  float: right;  
  font-size: 14px;  
  line-height: 20px;
  list-style: none;
  margin: 0 0 20px 30px;
  padding: 10px;
}

#navbar {
  bottom: 0;
  border-right: 1px solid #ddd;
  position: absolute;
  top: 0;
  width: 150px;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
}

#navbar li {
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0 8px;
  margin: -1px 0;

  width: 150px;
  text-align: right;
}

#navbar li.active {
  background-color: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0 8px;
  margin: -1px 0px;
  text-align: right;
  width: 151px;
  z-index: 1;
}

#navbar li a {
  color: #777;
  padding: 0.5em;
}

#page {
  background-color: white;
  box-shadow: rgba(100, 100, 100, 0.296875) 0px 2px 6px 0px;
  display: block;
  margin: 0 auto;
  width: 1024px;
}

#page-header {
  background-image: url('http://s3-eu-west-1.amazonaws.com/open-airbus-cockpit/website/assets/img/banner.jpg');
  border-bottom: 1px solid black;
  height: 120px;
  position: relative;
  width: 1024px;
}

#page-content {
  background-color: #f7f7f7;
  position: relative;
}

.code {
  vertical-align: text-bottom;
  background-color: #f5f9f6;
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #555;
  font-size: 14px;
  line-height: 20px;
  padding: 0px 15px;
}

.date {
  font-style: italic;
}

.inline {
  display: inline;
  list-style-type: none;
}

.image-right {
  float: right; 
  margin: 15px 0 5px 20px;
}

img.image-framed {
  box-shadow: 0px 0px 8px #111;
}

.readmore p {
  font-style: italic;
}

.pics img {
  box-shadow: rgba(100, 100, 100, 0.296875) 0px 2px 6px 0px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tag_box {
  list-style: none;
  margin: 0 1em;
  overflow: hidden;
}

.tag_box li {
  line-height: 28px;
}

.tag_box li i {
  opacity: 0.9;
}

.tag_box.inline li {
  float: left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

.tag_box a:hover {
  background-color: #e5e5e5;
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}

.title {
  border-top: 1px solid #eee;
}

.warning {
  background-color: #ffa;  
  border: solid 1px #aa8;
  border-radius: 3px;
  color: #885;
  padding: 10px;
}
